<% defaults = Redmine::Plugin::registered_plugins[:redmine_ldap_passwd].settings[:default] %>
<% duua = defaults[:use_user_account] ? 1 : 0 %>
<p>
  <label><%= l(:setting_use_user_account) %></label>
  <%= check_box_tag('settings[use_user_account]', duua, @settings[:use_user_account]) %>
</p>
